# PostgreSQL
POSTGRES_USER=werkscode
POSTGRES_PASSWORD=werkscode
POSTGRES_DB=werkscode

# App database connection
DATABASE_URL=postgresql://werkscode:werkscode@localhost:5432/werkscode
NUXT_DATABASE_URL=postgresql://werkscode:werkscode@localhost:5432/werkscode

# Public app URL
NUXT_PUBLIC_APP_URL=http://localhost:3000

# Nitro / Node
NODE_ENV=development
NUXT_HOST=0.0.0.0
NUXT_PORT=3000
